.nunito-fnunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.oswald-foswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}

#barra{
    background-color: black;
    text-align: center;
    color:white;
    font-size: 1em;
    font-weight: bold;
    font-family: Nunito;
    height: auto;
    width: 110%;
    margin: 0px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#comp_name{
    font-family: Nunito;
    text-align: center;
    background-image: url(../img/forks50.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

#imagen{
    height: 800px;
}

#img_1{
    height: 100%;
    clip-path: polygon(100% 100%, 100% 0%, 10% 0%, 0% 100%);
}

#img_2{
    height: 100%;
    width: 100%;
    clip-path: polygon(90% 0%, 100% 100%, 0% 100%, 0% 0%);
}

#img_3{
    height: 100%;
    width: 110%;
    clip-path: polygon(100% 100%, 100% 0%, 10% 0%, 0% 100%);
}

.f1_headers{
    margin-top:50px;
}

.btn_rgtr{
    background-color: white;
    padding: 3%;
    margin-top:15%;
    border-radius:50px;
    border-color:rgba(146, 142, 142, 0);
}

.btn_rgtr:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}
  
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

